###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [29]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

**1. Remove number "3" in a list**

In [30]:
nums.remove(3)
nums

[1, 2, 4]

In [31]:
# Code here

**Remove last element in the list **
> hint: remove 4 (L.pop)

In [32]:
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [33]:
nums.pop(0)

1

In [34]:
nums

[2]

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [11]:
nums.extend([3,4])
nums

[2, 3, 4, 3, 4]

In [35]:
nums.extend([3,4])

In [36]:
nums

[2, 3, 4]

**Insert number "1" in 0th position**

In [37]:
nums.insert(0,1)
nums

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [38]:
nums.insert(2, "two-and-half")

In [39]:
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [109]:
phrase = "Don't panic!"

*convert into list*

In [110]:
plist = list(phrase)

In [111]:
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove **'** and **!** in the list

In [112]:
plist.pop(3)

"'"

In [113]:
plist.pop()

'!'

In [114]:
plist

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [115]:
plist.pop(5)
plist.pop(6)
plist.pop(7)
plist.pop(0)
plist

['o', 'n', 't', ' ', 'a', 'i']

In [116]:
plist.extend(['p','a','n','D'])

In [117]:
plist

['o', 'n', 't', ' ', 'a', 'i', 'p', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [118]:
plist[-4:]

['p', 'a', 'n', 'D']

- append list

In [119]:
plist1 = plist[-4:]
plist1.append('a')

In [120]:
plist1

['p', 'a', 'n', 'D', 'a']

- Join list

In [21]:
"".join(plist1)

'panDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [133]:
nums = (31,24,35,85)
nums

(31, 24, 35, 85)

In [134]:
type(nums)

tuple

**Remove number "35" in a tuple**

*Hint:* Convert into list

In [135]:
nums = list(nums)
nums

[31, 24, 35, 85]

In [136]:
nums.pop(2)
nums
tuple(nums)

(31, 24, 85)

**Extent** tuple (85,19)

In [137]:
nums = list(nums)
nums
nums.extend([85,19])
nums

[31, 24, 85, 85, 19]

In [138]:
tuple(nums)

(31, 24, 85, 85, 19)

---
srikanth dakoju