###  Dictionary

Create Dictionary for following information as "person1":

   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Hyderabad

In [6]:
person1 = {'Name':'Srikanth','Gender':'male','Occupation': 'Data scientist','Location':'hyderabad'}

In [7]:
person1

{'Name': 'Srikanth',
 'Gender': 'male',
 'Occupation': 'Data scientist',
 'Location': 'hyderabad'}

> print keys in person1 as a list

In [8]:
# CODE HERE
person1.keys()

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

> Srikanth age is 30. Update his age in person1 as key "Age"

In [9]:
# CODE HERE
person1.update({'Age':30})

In [10]:
person1

{'Name': 'Srikanth',
 'Gender': 'male',
 'Occupation': 'Data scientist',
 'Location': 'hyderabad',
 'Age': 30}

> Remove Location in person1

In [11]:
# CODE HERE
person1.pop('Location')

'hyderabad'

In [12]:
person1

{'Name': 'Srikanth',
 'Gender': 'male',
 'Occupation': 'Data scientist',
 'Age': 30}

> Create dictionary of person2 with
- Name  = Sara
- Gender = Female
- Age  = 25
- Occupation = Analyst

In [13]:
# CODE HERE
person2 = {'Name':'Sara',
          'Gender':'Female',
          'Age':25,
          'Occupation':'Analyst'}

In [14]:
person2

{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

In [15]:
person2

{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

> Append values on Person1 and Person2

In [16]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'male', 'Occupation': 'Data scientist', 'Age': 30}
==================== person2 ====================
{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

In [22]:
# CODE HERE to append
person = {key:[person1[key],person2[key]] for key in person1}

In [23]:
person

{'Name': ['Srikanth', 'Sara'],
 'Gender': ['male', 'Female'],
 'Occupation': ['Data scientist', 'Analyst'],
 'Age': [30, 25]}

In [14]:
import pandas as pd
pd.DataFrame(person)

       Name  Gender      Occupation  Age
0  Srikanth    Male  Data Scientist   30
1      Sara  Female         Analyst   25

---
srikanth dakoju